html {
  box-sizing: border-box;
}

:root{

  --primary_violet: #070d50;
  --primary_color: #a4adc8;
  --primary_background: #fefefc;
  --secondary_color: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: normal;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1;
  background-color: white;
  color: var(--primary_color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 0;
  background-color: var(--primary_background);
  min-height: 100vh;
}

.sidebar {
  padding: 30px;
  background-color: white;
}

.profile {
  text-align: center;
  margin-bottom: 70px;
}

.profile-name {
  font-weight: 600;
  font-size: 18px;
  color: var(--primary_violet);
  margin-bottom: 10px;
}

.menu-item {
  margin-bottom: 20px;
}
.menu-link {
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--primary_color);
  font-size: 16px;
}
.menu-link:hover {
  color: var(--primary_violet);
}
.menu-link:active{
	color: var(--primary_color);
}
.menu-icon {
  width: 20px;
  margin-right: 15px;
}

.disable{
	display: none;
}
		
.turnBack{
     padding: 25px 30px;
     font-size: 20px;
     border: none;
     background-color: var(--primary_background);
     color: var(--primary_violet);
     border-radius: 10px;
     margin-left: auto;
     margin-right: auto;
     display: none;
     cursor: pointer;
}

.enable{
	display: block;
}

.turnBack:hover{
	background-color: var(--primary_violet);
    color: var(--primary_background);
    
}

.main {
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.search {
  padding: 15px 30px;
  border: 1px solid var(--primary_color);
  border-radius: 100px;
  display: flex;
  align-items: center;
  width: 100%;
}

.search input{
  background-color: var(--primary_background);
}

.search-icon {
  flex: 1;
  font-size: 16px;
}

.search-input {
  border: 0;
  outline: none;
  width: 100%;
  padding: 0 15px;
}

.tool {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.tool-icon {
  margin-right: 25px;
}

.heading {
  font-size: 25px;
  color: var(--primary_violet);
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: capitalize;
}

.count {
  font-weight: 600;
}

.billboard-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  margin-bottom: 40px;
}

.billboard-media {
  position: relative;
}

.billboard-image {
  width: 100%;
  height: 270px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}

.billboard-image-shadow {
  position: absolute;
  top: 20px;
  left: 0;
  filter: blur(24px);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transform: scale(0.85);
}

.title {
  margin-bottom: 10px;
  color: var(--primary_violet);
  font-weight: 600;
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  line-height: 1.4;
}

.author {
  text-transform: capitalize;
  color: var(--primary_color);
}

.content {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  grid-gap: 25px;
  margin-bottom: 30px;
}

.forGenreList{
	grid-template-columns: auto;
}

#song-list {
  display: grid;
  grid-template-rows: auto;
  padding: 10px;
  max-height: 455px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#song-list::-webkit-scrollbar {
  display: none;
}

.song {
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: grid;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  grid-template-columns: 7% 10% 43% 30% 10%;
}

.song-index {
  font-weight: bold;
  color: var(--primary_violet);
  margin-right: 15px;
}

.song-image {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
}

.song-title {
  font-weight: 600;
  font-size: 16px;
  color: var(--primary_violet);
  line-height: 1.4;
}

.song-album {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

.song-time {
  margin: 0 auto;
  font-weight: 400;
  font-weight: 600;
}

.player {
  background-color: white;
  padding: 20px;
  border-radius: 12px ;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.player-box {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  max-width: 300px;
  margin: 0 auto ;
}

.player-media {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-bottom: 25px;
}

.player-media:before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.player-image {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.player-title.title {
  width: 100%;
  align-self: stretch;
}

.progress {
  margin-bottom: 20px;
  margin-top: 25px;
  width: 100%;
  position: relative;
}

.player-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.player-tool {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.player-tool .btn.active {
  color: var(--primary_violet);
}

.player-play {
  color: var(--primary_violet);
  width: 55px;
  height: 45px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0 0 10px rgba(242, 243, 244, 0.5);
  font-size: 16px;
  margin: 0 ;
}

.player-play,
.player-next,
.player-prev,
.player-random,
.player-repeat {
  cursor: pointer;
  font-size: 16px;
  width: 50px;
}

.bar {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: var(--secondary_color);
  outline: none;
  transition: opacity 0.2s;
}

.bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  background-color: var(--primary_violet);
  box-shadow: 0 0 0 5px white, 0 0 0 6px var(--secondary_color);
}

.bar::-moz-range-thumb {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  background-color: var(--primary_violet);
  box-shadow: 0 0 0 5px white, 0 0 0 6px var(--secondary_color);
}

@media screen and (max-width: 1080px){
  .sidebar {
    display: block;
    padding-bottom: 0;
  }

  .wrapper {
    display: block;
  }

  .content {
    grid-template-columns: 100%;
    grid-row-gap: 50px;
  }

  .header {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px 0;
  }

  .menu {
    display: flex;
    flex-direction: row;
  }

  .menu-item, .profile-avatar{
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .menu-icon{
    display: none;
  }

  .song{
    grid-template-columns: 7% 10% 53% 20% 10%;
  }

  .song-list {
    max-height: unset;
    overflow: unset;
    padding: 0;
  }

  .main {
    padding: 20px 20px 0;
  }

.song-title,
.song-album {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    max-width: 180px;
  }

  .song-album {
    max-width: 50px;
  }

  .heading {
    font-size: 20px;
  }

  .title {
    font-size: 14px;
  }

  .author {
    font-size: 12px;
  }
}

.song.active {
  background-color: var(--primary_violet);
}

.song-index, 
.song-title,
.song-album,
.song-time{
  color: var(--secondary_color);
}

.song:active {
  opacity: 0.8;
}